@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

.title-text {
  text-align: center;
  font-family: Girassol;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 100px;
}

.ptext {
  padding: 4px;
  font-size: 18px;
  font-family: Open Sans Condensed;
}

.btext {
  font-size: 22px;
  font-family: Open Sans Condensed;
}

a:hover {
  text-decoration: none;
}

.pcards {
  display: inline-block;
  padding: 15px;
}

.imgal {
  display: block;
  position: absolute;
  left: 15px;
}

.preview {
  width: 200px;
  height: 200px;
}

.centered:hover {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.linkhover:hover {
  opacity: 30%;
}

.uploadtext {
  text-align: center;
  display: block;;
  font-size: 25px;
  font-family: Open Sans Condensed;
  padding: 4px;
}
